<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Notification</title>
</head>
<body>
    <h1>Notification System</h1>
    <div id="notif"></div>

    <script>
        const ws = new WebSocket('ws://localhost:8000/ws/notifications/')

        ws.onmessage = (event) => {
            const data = JSON.parse(event.data)
            const notifContainer = document.getElementById('notif')

            const newNotif = document.createElement('h3')
            newNotif.textContent = data.message
            notifContainer.append(newNotif)
        }

        ws.onopen = () => {
            console.log("Connected")
        }

        ws.onclose = () => {
            console.log("Disconnected")
        }
    </script>
</body>
</html>